# Specify package dependencies for the project with specific versions
Flask==2.0.1
spacy==3.2.0

# Commands for setting up the environment
pip install flask 
pip install -U pip setuptools wheel
pip install -U spacy
python -m spacy download en_core_web_sm
